body{

    background-color: lightgray;

}


h1{
    text-align: center;
}

h2{
    text-align: center;
}

#sbutton{
    display: block;
     max-width: 300px;
    margin: auto;
}

#wrapper{
    display:none;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }